<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <PackageCertificateKeyFile>pcHealth_Signing.pfx</PackageCertificateKeyFile>
    <PackageCertificatePassword>pcHealth</PackageCertificatePassword>
    <AppxSymbolPackageEnabled>false</AppxSymbolPackageEnabled>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms></AppxBundlePlatforms>
  </PropertyGroup>
</Project>
